 <div class="card text-center">
   <div class="card-header">
    Featured
 </div>

    <div class="card-body">
      <h5 class="card-title"><%= @lesson.name %></h5>
      <p class="card-text"><%= @lesson.description.html_safe %></p> 
    </div>  
    
</div>
